<html>
    <body>
        <h1>Add Record</h1>
        <a href="/display">Display</a>
        <form method="POST" action="/add-process">
            Email_id: <input type="email" name="txt1" required>
            Password: <input type="password" name="txt2" required>
            <input type="Submit"/>
        </form>
    </body>
</html>