* {
  background: black;
}
h2 {
  color: rgb(237, 100, 100);
  align-items: center;
  margin-left: 600px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}
table,
th,
td {
  border: 1px solid white;
  text-align: left;
  border-collapse: collapse;
  color: blueviolet;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
#table {
  width: 100%;
}
