<html>
    <body>
        <h1>My Form</h1>
        <form method="post" action="/form-process">
            <table>
                <tr>
                    <td>Email id:</td>
                    <td><input type="email" name="txt1" placeholder="Enter Email id" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="txt2" placeholder="Enter Password" required></td>
                </tr>
                <tr>
                 
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>