
<% if(db_rows_array.length > 0){ %>
    <style>
        td{
            font-size: 30px;

        }
        th{
            font-size: 30px;
        }
    </style>
    <table border="6px solid blue">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
            <th>Price</th>
        </tr>
        <% for(var i=0;i<db_rows_array.length;i++){ %>
            <tr>
            <td><%= db_rows_array[i].Product_id %></td>
            <td><%= db_rows_array[i].Product_name %></td>
            <td><%= db_rows_array[i].Product_details %></td>
            <td><%= db_rows_array[i].Product_price %></td>

        </tr>

            <%}%>
    </table>

    <% }else{ %>
        No Records Found
        <% } %> 
        <a href="/add">Add Record</a>